# Created by .ignore support plugin (hsz.mobi)
/hong-ad-service/ad-binlog-kafka/target/
/hong-ad-service/ad-binlog-common/target/
/ad-gateway/target/
/ad-eureka/target/
/hong-ad-service/ad-sponsor/target/
/hong-ad-service/ad-search/target/
/hong-ad-service/ad-dashboard/target/
/hong-ad-service/ad-common/target/
/.idea/sonarlint/
/logs/
/.idea/
/hong-ad-spring-cloud.iml
